{% extends "layout.njk" %}

{% block content %}  
  <section>
    <div class="cards">
        {% for item in items %}
          <div class="card" id="{{item.id}}">
            <div class="card__image-container">
              <img src="{{item.image}}" alt="">
            </div>
            <div class="card__content">
              <h1 class="card-title">{{item.title}}</h1>
            </div>
            <div class="card__info">
              <p class="author">{{item.author}}</p>
            </div>
          </div>
        {% endfor %}
        {% for item in items %}
          <div class="card" id="{{item.id}}">
            <div class="card__image-container">
              <img src="{{item.image}}" alt="">
            </div>
            <div class="card__content">
              <h1 class="card-title">{{item.title}}</h1>
            </div>
            <div class="card__info">
              <p class="author">{{item.author}}</p>
            </div>
          </div>
        {% endfor %}
      </div>  
  </section>
{% endblock %}