@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

.global {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    padding: 20px 0;
    margin: 15px auto;
}

/* LINKS */

.links {
    display: grid;
    grid-template-columns: 0.30fr 0.1fr 0.1fr;
    gap: 10px;
    margin: 10px auto;
}

.links img {
    width: 90.6px;
    height: 26.9px;
}

.links a {
   color: #111;
   text-decoration: none;
   list-style: none;
   font-size: 16px;
   line-height: 20px;
   margin: 10px 0;
}

/* Banner */

.grid__banner {
    width: 100%;
    height: 400px;
    background-color: #FBDFDB;
    border-radius: 30px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 0.45fr;
    gap: 20px;
    overflow: hidden;
    margin-bottom: 50px;
}

.grid__banner-content {
    padding: 35px;
    margin: 45px 0;
}

.grid__banner-content h1 {
    color: #333;
    font-size: 3.3rem;
    padding: 12px;
    line-height: 20px;
}

.grid__banner-content p {
    max-width: 450px;
    color: #333;
    filter: brightness(2);
    font-size: 1.5rem;
    padding: 12px;
    margin: 15px 0;
}

.grid__banner-img img{
    width: 290px;
    height: 370px;
    padding: 10px;
}

/* More Access */

.titulo {
    font-size: 24px;
    margin: 32px 0;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 34px 10px;
    cursor: pointer;
}

.card__image-container img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.card__content h1{
    font-size: 1.4rem;
    padding-bottom: 4px;
    font-weight: bold;
    filter: brightness(50%);
    color: #999;
}

.card__info {
    color: #666;
    font-size: 1rem;
    padding: 4px;
    filter: brightness(90%);
    margin-bottom: 25px;
}

/* Footer */

footer {
    width: 100%;
    background-color: #eee;
    padding: 15px;
    margin-top: 24px;
    overflow: hidden;
}

.footer-text {
    margin: 18px;
    text-align: center;
}

.footer-text p {
    font-size: 1.1rem;
    color: #999;
    font-weight: bold;
}

/* Modal */

.modal-overlay {
    background: rgba(0, 0, 0, 0.521);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background: #fff;
    position: relative;
    width: 50%;
    height: 60%;
    margin: 25vh auto;
    border-radius: 25px;
}

.modal .close-modal {
    font-size: 1rem;
    color: #999;
    text-align: center;
    position: absolute;
    bottom: 8%;
    left: 43.5%;
    cursor: pointer;
}

/* modal active */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-title {
    text-align: center;
    font-size: 1.9rem;
    filter: brightness(50%);
    color: #333;
    position: absolute;
    bottom: 26%;
    left: 14.5%;
    width: 500px;
}

.modal-author {
    text-align: center;
    color: #666;
    font-size: 1rem;
    filter: brightness(90%);
    margin-bottom: 25px;
    position: absolute;
    bottom: 14%;
    left: 14.5%;
    width: 500px;
}

.modal-content img {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 50%;
    border-radius: 15px;
    margin-bottom: 25px;
}

/* ABOUT */

.content-about h1{
    font-size: 28px;
    margin: 30px 0;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
}

.content-about h2{
    font-size: 20px;
    margin: 30px 0;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
}

.content-about p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

/* NOT-FOUND */

.container{
    position: relative;
    width: 50%;
    height: 60%;
    margin: 30px auto;
    
}

/* RECIPE */

.banner img{
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-left: 10%;
}

.recipe-title{
    text-align: center;
}

.recipe-title h1{
    margin-top: 50px;
    color: #111;
    font-size: 36px;
    font-weight: bold;
    
}

.recipe-title p{
    margin-top: 5px;
    font-size: 20px;
    color: #777;
}

section .recipe{
    max-width: 1000px;
    margin: 50px auto;
}

.recipe h4, a{
    display: inline-block;
}

.recipe h4{
    font-size: 24px;
    color: #111;
    line-height: 28px;
}

.recipe-make{
    margin-top: 40px;
}

.recipe-info{
    margin-top: 50px;
}

.recipe a{
    list-style-type: none;
    text-decoration: none;
    padding-left: 10px;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.recipe ul{
    margin-top: 20px;
}

.recipe ul li{
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.recipe p {
    margin-top: 20px;
    font-size: 18px;
    color: #444;
    line-height: 28px;
}

.description.hidden{
    display: none;
}


















