{% extends "./fields.njk" %}

{% block content %}
    <section>
        <form action="/admin/recipes" method="post">
            <div class="title_form">
                <h1>Editando receitas</h1>
                <div class="btn">
                    <button type="submit">Deletar receita</button>
                </div>
                <div class="btn">
                    <button type="submit">Salvar receita</button>
                </div>
            </div>
            <div class="form">
                <div class="item">
                    <div>Imagem da Receita</div>
                    <div>
                        <input 
                        type="url" 
                        name="image" 
                        value=""
                        >
                    </div>
                </div>
                <div class="item">
                    <div>Ingredientes</div>
                        <div id="ingredients">
                            <div class="ingredient">
                                <input 
                                type="text" 
                                name="ingredients[]" 
                                placeholder=""
                                value=""
                                >
                            </div>
                        </div>
                    <div>
                        <button type="button" class="add-ingredient">Adicionar Novo Ingrediente</button>
                    </div>
                </div>
                <div class="item">
                    <div>Modo de preparo</div>
                    <div>
                        <input 
                        type="text" 
                        name="preparation" 
                        placeholder=""
                        value=""
                        >
                    </div>
                    <div>
                        <span>Adicionar novo passo</span>
                    </div>
                </div>
                <div class="item">
                    <div>Informações adicionais</div>
                    <div>
                    <textarea name="information"></textarea>   
                    </div> 
                </div>
            </div>
        </form>        
    </section>

{% endblock content %}