{% extends "./layout.njk" %}

{% block content %}
    <section>
        <div class="recipe-action">
            <div class="recipe-action-title">
                <span>Receita: {{recipe.title}}</span>
            </div>
            <div>
                <a href="/admin/recipes/{{recipe.id}}/edit" class="btn">Editar Receita</a>
            </div>
        </div>
    </section>
    <section>
        <div class="banner">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
        </div>  
    </section>
    <section class="recipe-title">
        <div > 
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.author}}</p>
        </div>
    </section>
    <section>
        <div class="recipe">
            <div class="recipes">
                <div class="recipe-ingredient">
                    <h4>Ingredientes</h4>
                    <a>Esconder</a>
                    <div class="description">
                        <ul>
                        {% for recipes in recipe.ingredients %}
                            <li>{{recipes}}</li>
                        {% endfor %}   
                        </ul>
                    </div>    
                </div>
            </div>
            <div class="recipes">
                <div class="recipe-make">
                    <h4>Modo de Preparo</h4>
                    <a>Esconder</a>
                    <div class="description">
                        <ul>
                            {% for recipes in recipe.preparation %}
                            <li>{{recipes}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="recipes">
                <div class="recipe-info">
                    <h4>Informações adicionais</h4>
                    <a>Esconder</a>
                    <div class="description">
                        <p>{{recipe.information}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

